<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Login</title>
    <link rel="stylesheet" href="/src/css/collegeLoginForm.css">
    <script src="/src/js/common.js"></script>
</head>

<body>
    <form method="POST">
        <div class="container" onclick="onclick">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="center">
                <h2>Please Sign In</h2>

                <input name="email" id="email" type="email" placeholder="email" required />
                <input name="pass" id="pass" type="password" placeholder="password" required />
                <button id="submit">submit</button>

            </div>
        </div>
    </form>
    <script src="/src/js/collegeLoginForm.js"></script>
</body>

</html>