<div class="footer pt-0" style=" position: fixed;bottom: 0;width: 100%;text-align: center;">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
                © 2020 <a href="/" class="font-weight-bold ml-1" target="_blank">go-paperless</a>
            </div>
        </div>
    </div>
</div>