<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/home/aniket/Documents/code-bases/go-paperless/public/src/css/argon.min.css"> -->
    <!-- <link rel="stylesheet" href="/home/aniket/Documents/code-bases/go-paperless/public/src/vendor/quill/dist/quill.core.css"> -->
    <div data-toggle="quill" data-quill-placeholder="Quill WYSIWYG"></div>
    <script src="/home/aniket/Documents/code-bases/go-paperless/public/src/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/home/aniket/Documents/code-bases/go-paperless/public/src/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="/home/aniket/Documents/code-bases/go-paperless/public/src/vendor/js-cookie/js.cookie.js"></script>
    <script src="/home/aniket/Documents/code-bases/go-paperless/public/src/vendor/quill/dist/quill.min.js"></script>
    <script src="/home/aniket/Documents/code-bases/go-paperless/public/src/js/argon.min.js"></script>
</head>
<body>
    
</body>
</html>